@using Microsoft.AspNetCore.Identity
@using CMS_seminar.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@if (SignInManager.IsSignedIn(User)&& await UserManager.IsInRoleAsync(UserManager.GetUserAsync(User).Result,"admin"))
{
  <div class="dropdown">
  <a class="btn nav-link text-dark dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
    Admin menu
  </a>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
    <li><a class="dropdown-item" type="button" data-bs-toggle="tooltip" data-bs-placement="right" title="Manage categories" asp-area="admin" asp-controller="category" asp-action="index">Categories</a></li>
    <li><a class="dropdown-item" type="button" data-bs-toggle="tooltip" data-bs-placement="right" title="Manage products">Products</a></li>
    <li><a class="dropdown-item" type="button" data-bs-toggle="tooltip" data-bs-placement="right" title="Manage users">Users</a></li>
  </ul>
</div>
}
